- name: Install prerequisites
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    state: present
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Add Docker GPG key
  apt_key:
    url: "{{ docker_gpg_url }}"
    state: present
  when: ansible_os_family == "Debian"

- name: Add Docker repository
  apt_repository:
    repo: "{{ docker_repository }}"
    state: present
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Install Docker packages
  package:
    name: "{{ docker_packages }}"
    state: present
  notify: start_docker

- name: Add user to docker group
  user:
    name: "{{ docker_user }}"
    groups: docker
    append: yes
  when: docker_user is defined
