- name: установка сети
  hosts: all
  become: yes

  tasks:
    - name: установка node_exporter
      include_role:
        name: NODE_EXPORTER

    - name: установка webmin
      include_role:
        name: WEBMIN

    - name: установка mysql
      include_role:
        name: MYSQL
      when: "'MYSQL' in group_names"

    - name: установка docker
      include_role:
        name: DOCKER
      when: "'WEB' in group_names"

    - name: установка prometheus
      include_role:
        name: PROMETHEUS
      when: "'PROMETHEUS-GRAFANA' in group_names"

    - name: установка grafana
      include_role:
        name: GRAFANA
      when: "'PROMETHEUS-GRAFANA' in group_names"

    - name: установка runner
      include_role:
        name: RUNNER
      when: "'RUNNER' in group_names"

    - name: установка gitlab
      include_role:
        name: GITLAB
      when: "'GITLAB' in group_names"


